:root {
    --fliese: #6c432b;
    --banned: #444444;
    --orange: #ee4d2e;
    --schwuchtel: #ffffff;
    --neuschwuchtel: #e208ea;
    --pr0mium: #1cb992;
    --altschwuchtel: #5bb91c;
    --moderator: #008fff;
    --admin: #ff9900;
    --richtiges-grau: #161618;
    --falsches-grau: #4f4f4f;
    --text: #f2f5f4;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--richtiges-grau);
    text-align: center;
    color: var(--text);
    font-family: sans-serif;
    font-size: 16px;
}

.clearfix {
    clear: both;
}

#modalHelp {
    display: none;
    position: absolute;
    top: 100px;
    left: 40%;
    background-color: var(--richtiges-grau);
    border: 1px solid #4f4f4f;
    padding: 1em;
    z-index: 10;
    width: 400px;
}

#modalHelp h2 {
    display: inline;
}

#modalHelp p {
    margin: .5em;
}

#modalHelp a {
    color: var(--orange);
    text-decoration: none;
}

#closeHelp {
    float: right;
}

#closeHelp:hover {
    color: var(--orange);
    cursor: pointer;
}

h1.header-title {
    font-family: sans-serif;
    margin: .5em;
    font-size: 34px;
}

h1 {
    font-family: sans-serif;
    margin: 1em;
    font-size: 24px;
}

h2 {
    margin: 1.75em;
    font-size: 20px;
}

input[type=checkbox], input[type=radio], input[type=range] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

fieldset {
    border: 1px solid #252525;
    text-align: left;
    padding: .5em;
    margin-top: .4em;
}

fieldset legend {
    color: var(--orange);
    padding: 0 .5em;
}

p {
    line-height: 1.3;
}

#content-output {
    background-color: var(--falsches-grau);
}

#pr0Canvas {
    margin: 10px;
}

#div-image-info-size {
    width: 90%;
    margin: auto;
    height: 40px;
    font-size: 12px;
}

#div-image-info-size-free {
    float: left;
    height: 20px;
    width: 50%;
    border-bottom: 2px solid #00630c;
}

#span-image-info-size-free-max {
    /*position: absolute;*/
    float: right;
    right: 2px;
    top: 3px;
    color: #fff;
    padding-right: 5px;
}

#div-image-info-size-pr0mium {
    float: left;
    height: 20px;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #1cb992;
}

#span-image-info-size-pr0mium-max {
    /*position: absolute;*/
    float: right;
    right: 2px;
    top: 3px;
    color: #fff
}

#div-image-info-size-cover {
    float: right;
    width: 100%;
    height: 25px;
    text-align: left;
}

#div-image-info-size-cover-level {
    width: 60px;
    margin-left: -30px;
    text-align: center;
}

#div-image-info-size-cover-level .arrow-up {
    margin: auto;
}

#div-image-info-size-cover-level .size-label {
    width: 40px;
    margin: auto;
    background: var(--falsches-grau);
    border-radius: 4px;
    padding: 2px;
    font-size: 11px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
}

#imagetext {
    width: 800px;
    height: 23em;
    padding: 5px;
    background-color: #1B1E1F;
    color: #bbb;
    border: 0;
}

#content-input {
    display: inline-block;
}

#warn {
    margin-top: 1em;
    display: none;
    border: 1px solid;
    background-color: rgba(238, 77, 46, 0.28);
    padding: .5em;
}

#hints span {
    display: block;
}

#edit-textarea {
    float:left;
}

#edit-img-sidebar {
    float: left;
    margin-right:-100px;
    width: 60px;
}

#edit-img-sidebar img:hover {
    cursor: pointer;
}

#download a {
    color: white;
    margin: 1em;
}

#controls {
    position: relative;
    background-color: var(--richtiges-grau);
}

.btn {
    background: var(--richtiges-grau) none repeat scroll 0 0;
    border: none;
    color: var(--text);
    font-weight: bold;
    margin: 5px 5px;
    text-decoration: none;
    height: 40px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    color: var(--orange);
}

.btn:focus {
    outline: none;
}

.orange {
    color: var(--orange);
}

.red {
    color: #c10004;
}

.grey {
    color: grey;
}

#colorbuttons {
    padding-top: 8px;
    float: left;
}

#extrabuttons {
    float: right;
}

#flarge {
    font-size: 24px;
}

#fmedium {
    font-size: 16px;
}

#fsmall {
    font-size: 12px;
}

.btn-colored-circle {
    vertical-align: bottom;
    width:25px;
    height:25px;
    margin: 5px 5px;
    border-radius: 50%;
    background: #464646;
    border: none;
}

.btn-colored-circle span {
    display: none
}

.btn-colored-circle:hover {
    position: relative;
}

.btn-colored-circle:hover span {
    border: #464646 1px solid;
    padding: 5px;
    display: block;
    z-index: 100;
    background: var(--richtiges-grau);
    left: 0px;
    margin: 15px;
    width: auto;
    position: absolute;
    top: 10px;
    text-decoration: none
}

.btn-colored-circle:hover {
    cursor: pointer;
}

.btn-colored-circle.orange {
    background-color: var(--orange);
    color: var(--orange);
}

.btn-colored-circle.pr0mium {
    /*Edler Spender, Lebende Legende*/
    background-color: var(--pr0mium);
    color: var(--pr0mium);
}

.btn-colored-circle.neuschwuchtel {
    background-color: var(--neuschwuchtel);
    color: var(--neuschwuchtel);
}

.btn-colored-circle.schwuchtel {
    background-color: var(--schwuchtel);
    color: var(--schwuchtel);
}

.btn-colored-circle.altschwuchtel {
    background-color: var(--altschwuchtel);
    color: var(--altschwuchtel);
}

.btn-colored-circle.moderator {
    background-color: var(--moderator);
    color: var(--moderator);
}

.btn-colored-circle.admin {
    background-color: var(--admin);
    color: var(--admin);
}

.btn-colored-circle.fliese {
    background-color: var(--fliese);
    color: var(--fliese);
    width:15px;
    height:15px;
}

.btn-colored-circle.banned {
    background-color: var(--banned);
    color: var(--banned);
    width:15px;
    height:15px;
}
