* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #161618;
    text-align: center;
    color: #f2f5f4;
    font-family: sans-serif;
    font-size: 16px;
}

.clearfix {
  clear: both;
}

#modalHelp {
  display: none;
  position: absolute;
  top: 100px;
  left: 40%;
  background-color: #161618;
  border: 1px solid #4f4f4f;
  padding: 1em;
  z-index: 10;
  width: 400px;
}

#modalHelp h2 {
  display: inline;
}

#modalHelp p {
  margin: .5em;
}

#modalHelp a {
  color: #ee4d2e;
  text-decoration: none;
}

#closeHelp {
  display: inline;
  float: right;
}

#closeHelp:hover {
  color: #ee4d2e;
  cursor: pointer;
}

h1.header-title {
    font-family: sans-serif;
    margin: .5em;
    font-size: 34px;
}

h1 {
    font-family: sans-serif;
    margin: 1em;
    font-size: 24px;
}

h2 {
    margin: 1.75em;
    font-size: 20px;
}

input[type=checkbox], input[type=radio], input[type=range] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

fieldset legend {
  color: #ee4d2e;
  padding: 0 .5em;
}

p {
  line-height: 1.3;
}

#content-output {
    background-color: #4f4f4f;
}

#pr0Canvas {
    margin: 10px;
}

#size fieldset {
    text-align: left;
    border: 1px solid;
    padding: .5em;
    margin-top: .4em;
}

#div-image-info-size {
    width: 90%;
    margin: auto;
    height: 40px;
    font-size: 12px;
}

#div-image-info-size-free {
    float: left;
    height: 20px;
    width: 50%;
    border-bottom: 2px solid #126049;
}

#span-image-info-size-free-max {
    /*position: absolute;*/
    float: right;
    right: 2px;
    top: 3px;
    color: #fff;
    padding-right: 5px;
}

#div-image-info-size-pr0mium {
    float: left;
    height: 20px;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #91863b;
}

#span-image-info-size-pr0mium-max {
    /*position: absolute;*/
    float: right;
    right: 2px;
    top: 3px;
    color: #fff
}

#div-image-info-size-cover {
    float: right;
    width: 100%;
    height: 25px;
    text-align: left;
}

#div-image-info-size-cover-level {
    width: 60px;
    margin-left: -30px;
    text-align: center;
}

#div-image-info-size-cover-level .arrow-up {
    margin: auto;
}

#div-image-info-size-cover-level .size-label {
    width: 40px;
    margin: auto;
    background: #4f4f4f;
    border-radius: 4px;
    padding: 2px;
    font-size: 11px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
}

#imagetext {
    padding: 5px;
    background-color: #1B1E1F;
    color: #bbb;
}

#content-input {
    display: inline-block;
}

#warn {
    margin-top: 1em;
    display: none;
    border: 1px solid;
    background-color: rgba(238, 77, 46, 0.28);
    padding: .5em;
}

#hints fieldset {
    text-align: left;
    border: 1px solid;
    padding: .5em;
    margin-top: .4em;
}

#hints span {
    display: block;
}

#hints b {

}

#settings fieldset {
    border: 1px solid;
    text-align: left;
    margin-top: .4em;
    padding: .5em;
}

#edit-zone {

}

#edit-textarea {
    float:left;
}

#edit-img-sidebar {
    float:left;
    margin-right:-100px;
    width: 60px;
}

#edit-img-sidebar img:hover {
  cursor: pointer;
}

#download a {
    color: white;
    margin: 1em;
}

#controls {
    position: relative;
    background-color: #161618;
}

.btn {
    background: #161618 none repeat scroll 0 0;
    border: none;
    color: #f2f5f4;
    font-weight: bold;
    margin: 5px 5px;
    text-decoration: none;
    height: 40px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    color: #ee4d2e;
}

.btn:focus {
    outline: none;
}

.orange {
    color: #ee4d2e;
}

.red {
    color: #c10004;
}

.grey {
    color: grey;
}

#colorbuttons {
    padding-top: 8px;
    float: left;
}

#extrabuttons {
    float: right;
}

#flarge {
    font-size: 24px;
}

#fmedium {
    font-size: 16px;
}

#fsmall {
    font-size: 12px;
}

.btn-colored-circle {
    vertical-align: bottom;
    width:25px;
    height:25px;
    margin: 5px 5px;
    border-radius: 50%;
    background: #464646;
    border: none;
}

.btn-colored-circle:hover {
    cursor: pointer;
}

.btn-colored-circle.orange {
    background-color: #ee4d2e;
}

.btn-colored-circle.pr0mium {
    /*Edler Spender, Lebende Legende*/
    background-color: #1cb992;
}

.btn-colored-circle.neuschwuchtel {
    background-color: #e208ea;
}

.btn-colored-circle.schwuchtel {
    background-color: #ffffff;
}

.btn-colored-circle.altschwuchtel {
    background-color: #5bb91c;
}

.btn-colored-circle.moderator {
    background-color: #008fff;
}

.btn-colored-circle.admin {
    background-color: #ff9900;
}

.btn-colored-circle.fliese {
    background-color: #6c432b;
    width:15px;
    height:15px;
}

.btn-colored-circle.banned {
    background-color: #444444;
    width:15px;
    height:15px;
}

#help {
    /*cursor: not-allowed;*/
}
