* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #161618;
    text-align: center;
    color: #ee4d2e;
    font-family: sans-serif;
    font-size: 16px;
}

.clearfix {
  clear: both;
}

#modalHelp {
  display: none;
  position: absolute;
  top: 100px;
  left: 40%;
  background-color: #161618;
  border: 1px solid #4f4f4f;
  padding: 1em;
  z-index: 10;
  width: 400px;
}

#modalHelp h2 {
  display: inline;
}

#modalHelp p {
  margin: .5em;
}

#closeHelp {
  display: inline;
  float: right;
}

#closeHelp:hover {
  cursor: pointer;
}

h1 {
    font-family: sans-serif;
    margin: 1em;
    font-size: 24px;
}

h2 {
    margin: 1.75em;
    font-size: 20px;
}

input[type=checkbox], input[type=radio], input[type=range] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

#content-output {
    background-color: #4f4f4f;
}

#pr0Canvas {
    margin: 10px;
}

#imagetext {
    padding: 5px;
    background-color: #1B1E1F;
    color: #bbb;
}

#content-input {
    display: inline-block;
}

#warn {
    margin-top: 1em;
    display: none;
    border: 1px solid;
    background-color: rgba(238, 77, 46, 0.28);
    padding: .5em;
}

#hints fieldset {
    text-align: left;
    border: 1px solid;
    padding: .3em;
    margin-top: .4em;
}

#hints span {
    display: block;
    font-family: "Courier New";
}

#settings fieldset {
    color: white;
    border: 1px solid;
    text-align: left;
    font-family: "Courier New";
    margin-top: .4em;
    padding: .3em;
}

#edit-zone {

}

#edit-textarea {
    float:left;
}

#edit-img-sidebar {
    float:left;
    margin-right:-100px;
    width: 60px;
}

#download a {
    color: white;
    margin: 1em;
}

#controls {
    position: relative;
    background-color: #161618;
}

.btn {
    background: #161618 none repeat scroll 0 0;
    border: none;
    color: #aaa;
    font-family: Arial;
    font-weight: bold;
    margin: 5px 5px;
    text-decoration: none;
    height: 40px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    color: #ee4d2e;
}

.btn:focus {
    outline: none;
}

.orange {
    color: #ee4d2e;
}

#colorbuttons {
    padding-top: 8px;
    float: left;
}

#extrabuttons {
    float: right;
}

#flarge {
    font-size: 24px;
}

#fmedium {
    font-size: 16px;
}

#fsmall {
    font-size: 12px;
}

.btn-colored-circle {
    vertical-align: bottom;
    width:25px;
    height:25px;
    margin: 5px 5px;
    border-radius: 50%;
    background: #464646;
    border: none;
}

.btn-colored-circle:hover {
    cursor: pointer;
}

.btn-colored-circle.orange {
    background-color: #ee4d2e;
}

.btn-colored-circle.pr0mium {
    /*Edler Spender, Lebende Legende*/
    background-color: #1cb992;
}

.btn-colored-circle.neuschwuchtel {
    background-color: #e208ea;
}

.btn-colored-circle.schwuchtel {
    background-color: #ffffff;
}

.btn-colored-circle.altschwuchtel {
    background-color: #5bb91c;
}

.btn-colored-circle.moderator {
    background-color: #008fff;
}

.btn-colored-circle.admin {
    background-color: #ff9900;
}

.btn-colored-circle.fliese {
    background-color: #6c432b;
    width:15px;
    height:15px;
}

.btn-colored-circle.banned {
    background-color: #444444;
    width:15px;
    height:15px;
}

#help {
    /*cursor: not-allowed;*/
}
